{% load otree %}
<div class="card my-3">
    <div class="card-body">
        <h5 class="card-title">Information about other group members:</h5>
        <table class="table-hover table-stripped table">
            <thead>
            <th>Participant:</th>
            <th>Endowment</th>
            {% if subsession.gender_shown %}
                <th>Gender:</th>
            {% endif %}
            {% if results|default_if_none:False %}
                <th>Contribution:</th>
                <th>Payoff:</th>
            {% endif %}
            </thead>
            {% for o in player.get_others_in_group %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ o.endowment }}</td>
                    {% if subsession.gender_shown %}
                        <td>{{ o.participant.vars.gender }}</td>
                    {% endif %}
                    {% if results|default_if_none:False %}
                        <td>{{ o.contribution }}</td>
                        <td>{{ o.payoff }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

