{% load otree %}

<div class="card">
    <div class="card-body">
        <ul class="list-group list-group-flush mb-3">
            <li class="list-group-item">
                Все участники случайным образом разбиты на группы по {{ Constants.players_per_group }} участника.
                Состав групп не меняется на протяжении всего эксперимента.
            </li>
            <li class="list-group-item">
                В каждом периоде вы получаете {{ player.endowment }}.
                Вы принимаете решение, какую часть из этой суммы (в целых числах)
                Вы хотите оставить у себя, а какую хотите вложить в общий проект вашей группы. Каждая единица ECU,
                которую Вы оставили себе, приносит лично Вам 1 ECU в конце периода. Каждая единица ECU, вложенная в
                общий
                проект, приносит {{ Constants.coef_factor }} ECU как Вам, так и всем остальным членам группы. Иными
                словами, за каждый ЭКЮ,
                который вы вкладываете в общий проект, все члены всей группы получат {{ Constants.coef_factor }} ECU,
                вне зависимости от того,
                сколько они вложили.


            </li>
            <li class="list-group-item">
                Таким образом, Ваш доход в ECU за период формируется следующим образом:
            </li>
            <li class="list-group-item text-center border font-weight-bold">
                {{ player.endowment }} – Ваш вклад в общий проект + {{ Constants.coef_factor }} × (сумма вкладов всех
                членов группы)
            </li>
            <li class="list-group-item">
                Таким образом, ваш вклад за раунд может составлять любую сумму от 0 до {{ player.endowment }}. Все члены
                группы
                находятся в той же самой ситуации и принимают такие же решения.
            </li>

            <li class="list-group-item">
                После каждого раунда Вам будет доступна информация о сумме, которую Вы вложили, о вкладах каждого из
                {{ Constants.num_others_per_group }} других членов группы, Ваш доход от общего проекта, Ваш общий
                выигрыш в текущем раунде и Ваш
                совокупный общий выигрыш за все раунды. Кроме того, вы увидите график, показывающий Ваши вклады и
                средние вклады других участников из вашей группы за все раунды.
            </li>


            <li class="list-group-item">
                {% include 'pggfg/includes/slider.html' %}
            </li>
            {% if subsession.punishment %}

                {% include 'pggfg/includes/punishment_instructions.html' %}


            {% endif %}

        </ul>
    </div>
</div>
