{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Часть 1: Вложение в общий счет (Период {{ player.round_number }} из
    {{ Constants.num_rounds }})
{% endblock %}

{% block inner_content %}

    <div class="alert alert-info">Начальная сумма: <strong>{{ player.endowment }}</strong></div>
    {% formfield player.contribution with label=label %}

    {% next_button %}


    {% include Constants.instructions_template %}

    {{ block.super }}
{% endblock %}
{% block scripts %}

{% endblock %}