{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Часть 1: Вложение в общий счет (Период {{ player.round_number }} из
    {{ Constants.num_rounds }})
{% endblock %}

{% block inner_content %}

    <div class="alert alert-info">Начальная сумма: <strong>{{ player.endowment }}</strong></div>
    {% formfield player.contribution with label=label %}

    {% next_button %}
    {% if view.round_number > 1 %}
        <div id="highcharts-container"
             style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <script src="{% static 'js/highcharts.js' %}"></script>
        <script>


            $('#highcharts-container').highcharts({
                title: {
                    text: 'Вложения в общий счет в предыдущих периодах'
                },
                credits: {
                    enabled: false
                },
                chart: {
                    type: 'scatter',
                    zoomType: 'xy'
                },
                xAxis: {

                    title: {text: 'Период'},
                    allowDecimals: false,
                    categories: {{ player.charts.rounds|json }},
                },
                yAxis: {
                    title: {
                        text: 'ECU'
                    },

                },
                tooltip: {
                    crosshairs: true,
                    headerFormat: '<b>{point.series.name}</b><br />',
                    pointFormat: 'Contribution: <b>{point.y}</b> '
                },
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom',
                    borderWidth: 0
                },
                series: [
                    {
                        'name': 'Средний вклад по вашей группе',
                        'type': 'line',
                        'data': {{player.charts.group_average|json}},
                        'marker': {
                            'radius': 10,
                        }
                    },
                    {
                        'name': 'Ваши вложения в общий счет',
                        'type': 'line',
                        'data': {{player.charts.individual_contributions|json}},
                        'marker': {
                            'radius': 10,
                        }
                    }]
            });

        </script>
    {% endif %}



    {% include Constants.instructions_template %}

    {{ block.super }}
{% endblock %}
{% block scripts %}
    <script>$('#id_contribution').focus();</script>

{% endblock %}