{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Часть 1: Проверочные вопросы
{% endblock %}

{% block inner_content %}
    <div class="card">
        <div class="card-body">
            <h6 class="card-title">
                Вопрос 1. В текущем раунде каждый участник из вашей группы получил 20 ECU. Никто из участников из вашей
                группы, включая Вас, ничего не вложил в общий проект в текущем раунде.
            </h6>
            {% formfield player.cq1_a %}
            {% formfield player.cq1_b %}
        </div>
    </div>



    <div class="card">
        <div class="card-body">
            <h6 class="card-title">
                Вопрос 2. В текущем раунде каждый участник из вашей группы получил 20 ECU. Вы вложили в общий проект 20
                ECU. Остальные два участника также вложили в общий проект 20 ECU.
            </h6>
            {% formfield player.cq2_a %}
            {% formfield player.cq2_b %}
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h6 class="card-title">
                Вопрос 3. В текущем раунде каждый участник из вашей группы получил 20 ECU. Вы вложили в общий проект 3
                ECU. Второй участник из вашей группы вложил 10 ECU, а третий участник вложил 17 ECU в текущем раунде.
            </h6>
            {% formfield player.cq3_a %}
            {% formfield player.cq3_b %}
            {% formfield player.cq3_c %}
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h6 class="card-title">
                Вопрос 4. В текущем раунде каждый участник из вашей группы получил 20 ECU. Вы и второй участник из вашей
                группы вложили в общий проект 20 ECU. Третий участник из вашей группы в текущем раунде вложил в общий
                проект 0 ECU.
            </h6>
            {% formfield player.cq4_a %}
            {% formfield player.cq4_b %}
            {% formfield player.cq4_c %}
        </div>
    </div>
    <div class="my-3">
        {% next_button %}
    </div>
    {% include Constants.instructions_template %}

    {{ block.super }}
{% endblock %}
{% block scripts %}
    <script>$('#id_contribution').focus();</script>

{% endblock %}

{% block styles %}
    <style>
        .card {
            margin-top: 10px;
        }
    </style>
{% endblock %}