{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Введение
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    Добро пожаловать на экспериментальную сессию. Вам предстоит принять ряд решений во взаимодействии с
                    другими участниками в соответствии с правилами эксперимента. Вы получите возможность заработать
                    реальные деньги. Сколько Вы заработаете будет зависеть как от Ваших решений, так и от решений других
                    участников. Поэтому очень важно, чтобы Вы внимательно прочитали данные инструкции.

                </li>
                <li class="list-group-item">
                    В конце экспериментальной сессии одному из участников (выбранному случайно) будут выплачены деньги,
                    положенные по итогам эксперимента.

                </li>
                <li class="list-group-item">
                    Ваши решения являются анонимными. Никто из участников не сможет узнать, кто именно из других
                    участников принимал те или иные решения ни в течение, ни после экспериментальной сессии. Мы
                    гарантируем конфиденциальность Ваших решений, и будем анализировать их только в обезличенном виде.

                </li>
                <li class="list-group-item">
                    Эти инструкции предназначены только для Вашего личного использования. На протяжении всей
                    экспериментальной сессии Вам запрещено общаться с другими участниками. Пожалуйста выключите Ваш
                    мобильный телефон и поместите его в сумку на Вашем рабочем месте.

                </li>
                <li class="list-group-item">
                    В случае нарушения этого правила Вы можете быть удалены из эксперимента и лишитесь всех денег,
                    полагающихся Вам за эксперимент.

                </li>
                <li class="list-group-item">
                    Если у Вас возникнут какие-либо вопросы, пожалуйста поднимите руку. Мы подойдем к Вашему рабочему
                    месту и ответим на них в индивидуальном порядке.

                </li>
                <li class="list-group-item">
                    Во время эксперимента мы будем пользоваться не рублями, а экспериментальными денежными единицами
                    (ECU). Это значит, что Ваши итоговые результаты будут подсчитаны в ECU и конвертированы в рубли по
                    окончании экспериментальной сессии по курсу

                </li>
                <li class="list-group-item">
                    <h5 class="text-center font-weight-bold">
                        1 ECU = 4 рубля

                    </h5>

                </li>


                <li class="list-group-item">
                    Вам будет предложен ряд проверочных вопросов. Они помогут Вам лучше понять
                    задания и правила, по которым Вы будете принимать решения. После этого начнется сам эксперимент.

                </li>
                <li class="list-group-item">
                    Эксперимент состоит из нескольких частей. Мы дадим Вам детальные инструкции по каждой из части
                    эксперимента перед началом этой части.

                </li>
                <li class="list-group-item font-weight-bold text-center">
                    Есть ли у Вас вопросы?

                </li>
            </ul>
        </div>
    </div>
    {% formfields %}
    <div class="my-3">

        {% next_button %}
    </div>

{% endblock %}
